<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">We would like to contribute to a smart society that enjoys
                    healthy longevity through AI technology that supports training to make subjective skill up. To
                    achieve this goal, we are developing an "AI smart coaching technology to promote voluntary
                    skill enhancement" by using an small number of wearable sensors and individual skill grasping
                    technology.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">AI</h4>
                <p class="text-muted">Level setting based on estimation of physical effort, using a powerful ANN
                    algorithm we will define the users performance to provide physical or support or opposite force to
                    set the task level of the current exercise.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-male fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Motion Sensing</h4>
                <p class="text-muted">Wearable sensing and skill estimation by digital human model, realize real-time
                    skill segment classification with a simple and small number of sensors, and visualizing the
                    training effect.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Hardware Design</h4>
                <p class="text-muted">Development of artificial muscle training suits, using lightweight, flexible, and
                    inexpensive low-pressure driven pneumatic artificial muscles (PAMs).</p>
            </div>

            <div class="col-lg-12 text-center">
                <p class="text-muted">Using this three elements as fundamental base we will develop
                    flexible and lightweight artificial muscle suits, training software with an intuitive user
                    interface, and verify the effect for rehabilitation and special skills.</p>
            </div>

            <div class="col-lg-12 text-center">
                <h4 class="service-heading">Toward smart society to enjoy healthy long life</h4>
                <p class="text-muted">We will contribute to a society that enjoys healthy longevity by improving
                    independence of elderly and disabled people with technology that can be used at home, generating an
                    extension of healthy life span by effective and efficient care for individual and reducing social
                    security and medical expenses with securing manpower in aging society.</p>
            </div>

        </div>

        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Toward smart society to enjoy healthy long life</h2>
                <h3 class="section-subheading text-muted">We will contribute to a society that enjoys healthy longevity
                    by improving independence of elderly and disabled people with technology that can be used at home,
                    generating an extension of healthy life span by effective and efficient care for individual and
                    reducing social security and medical expenses with securing manpower in aging society.</h3>
            </div>
        </div> -->

    </div>
</section>