<!-- Logo Aside -->
    <aside class="logo">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.nedo.go.jp/">
                        <img src="img/logos/nedo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/hirodai.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
                <!-- <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
            </div>
        </div>
    </aside>